<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ block "extra_head" . }}{{ end }}
    {{ partial "link-hover-overrides.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "cookie-banner.html" . }}
    {{ $themeJSVersion := readFile "themes/drafted/static/js/theme.js" | md5 }}
    <script src="{{ "js/theme.js" | relURL }}?v={{ $themeJSVersion }}"></script>
    {{ block "extra_scripts" . }}{{ end }}
  </body>
</html>
