<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ if .IsHome }}Freelance Content Marketing Consultant for B2B | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<link rel="icon" href="{{ "/favicon.png" | relURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
{{ $themeCSSVersion := readFile "themes/drafted/static/css/theme.css" | md5 }}
<link rel="stylesheet" href="{{ "css/theme.css" | relURL }}?v={{ $themeCSSVersion }}">
