{{ define "extra_head" }}
  {{ $slug := .File.ContentBaseName }}
  {{ partial (printf "blog-mirror/%s-styles.html" $slug) . }}
  <style>
    .site-header .site-nav,
    .site-footer .container {
      width: 100%;
    }

    .site-header .site-nav {
      justify-content: flex-start;
    }

    .site-header .header-cta {
      margin-left: auto !important;
    }

    .site-header .btn,
    .site-header .btn:hover {
      border-radius: 10px;
    }
  </style>
{{ end }}

{{ define "main" }}
  {{ $slug := .File.ContentBaseName }}
  {{ partial (printf "blog-mirror/%s-body.html" $slug) . }}
{{ end }}
